In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
nft_price = pd.read_csv('NFT_price.csv', sep=';', decimal=',')
nft_price['Date'] = pd.to_datetime(nft_price['Date'])
nft_price.head()

        Date  SalesUSD
0 2017-06-22      0.00
1 2017-06-23   1020.30
2 2017-06-24   1240.84
3 2017-06-25    517.55
4 2017-06-26    424.63

In [4]:
eth_price = pd.read_csv('ETH-USD.csv')
eth_price['Date'] = pd.to_datetime(eth_price['Date'])
eth_price.head()

        Date      Open      High      Low     Close  AdjClose      Volume
0 2017-01-01   7.98231   8.47123  7.98231   8.17257   8.17257  14731700.0
1 2017-01-02   8.17087   8.43633  8.05441   8.37851   8.37851  14579600.0
2 2017-01-03   8.37458   9.99680  8.31717   9.72525   9.72525  33625200.0
3 2017-01-04   9.70929  11.27640  9.55981  11.25160  11.25160  41051200.0
4 2017-01-05  11.28680  11.89090  9.40268  10.25440  10.25440  41557400.0

In [ ]:
import requests
import os
import json
import datetime
import dateutil.parser
import unicodedata
import time